@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-size: 18px;
  font-family: "PT Sans", "Arial",  sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  background-color: #FFFFFF;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1090px;
  margin-left: auto;
  margin-right: auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

/*H1-H5*/

.h {
  font-weight: 700;
  color: #000000;
}

.h1 {
  font-size: 60px;
  line-height: 78px;
}

.h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.h3 {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.h3-noncase {
  font-size: 24px;
  line-height: 28px;
}

.h4 {
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

/*Buttons*/

.button {
  font-family: inherit;  /*наследует шрифты из body*/
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.button-primary {
  background-color: #82B3D3;
}

.button-alpha {
  background-color: transparent;
}

.button-secondary-min {
  background-color: #756157;
}

.button-secondary {
  font-size: 20px;
  line-height: 24px;
}

/*Forms*/

.form-checkbox-input,
.form-radio-input,
.field {
  font-family: inherit;
}

/*Header*/

.navigation {
  display: flex;
  width: 1200px;
  font-weight: 700;
  margin: 0 auto;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.navigation-list{
  margin: 0;
  padding: 0;
  width: 507px;
}

.navigation-user {
  max-width: 268px;
  margin-left: auto;
}

.logo {
  display: block;
  margin: 0 auto;
}
/*Footer*/
.page-footer-container{
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.social-list {
  width: 142px;
  margin-right: auto;
}

.contact-phone {
  width: 720px;
  margin: auto;
}

.developer {
  width: 115px;
  margin-left: auto;
}

/*Description*/

.description-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.description-text {
  font-size: 22px;
  line-height: 26px;
}

/*Invitation*/

.invitation {
  background-image: url("../images/index-background-vector.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  background-color: #474b4e;
}

/*Advantages*/


.advantages {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-card-deep {
  background-color: #82B3D3;
  color: #FFFFFF;
  width: 400px;
}

.advantages-card-light {
  background-color: #82b3d31f;
  width: 400px;
}

.advantages-card-medium {
  width: 400px;
}

.advantages-card-deep .advantages-title {
  color: inherit;
}

.advantages-description {
  color: #FFFFFF;
}

.reasons-item-first {
  background-color: #83B3D31F;
}

.reasons-item-secondary {
  background-color: #00000033;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-special {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #474b4e;
}

.filter {
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
  background-color: #474b4e;
}

.filter-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.filter-title-list {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.form-checkbox-label,
.form-radio-label,
.filter-title-control {
  line-height: 23px;
  color: #FFFFFF;
}

.select-control {
  background-color: #FFFFFF;
}

.pagination-link {
  line-height: 36px;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.pagination-link-tap {
  color: #000000;
  background-color: #F2F2F2;
}
